.user-groups-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 10px;
    padding: 10px;
}

.group-card {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 10px;
    background-color: #f0f0f0;
}
